/* General */
*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  font-family: "Inter", sans-serif;
}

body {
  min-height: 100vh;
  padding-bottom: 100px;
  position: relative;
}

.container-fluid {
  padding: 0;
}

/* Botões */
.btn-primary {
    color: #fff !important;
    background-color: #415565 !important;
    border: 2px solid #415565 !important;
}

.btn-primary:hover {
  background-color: #001228 !important;
  border-color: #001228 !important;
}

.btn-info {
  color: #fff !important;
  background-color: #9b2846 !important;
  border: 2px solid #8e082c !important;
}

.btn-info:hover {
  background-color: #8e082c !important;
  border-color: #8e082c !important;
}

/* Mensagem */
.msg {
  background-color: #d4edda;
  color: #155724;
  border: 2px solid #c3e6cb;
  width: 100%;
  margin-bottom: 0;
  text-align: center;
  padding: 10px;
}

/* Event create page */
#event-create-container {
  margin-top: 1em;
  padding: 30px;
  -webkit-box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 0.5em;
}

#event-create-container input,
#event-create-container select,
#event-create-container textarea {
  font-size: 12px;
}

#event-create-container h4 {
  font-size: 1.2em;
  font-weight: 600;
}

.sync {
  font-size: 1.2rem;
  margin-bottom: -3px;
  margin-right: 3px;
}

/* Footer */
footer {
  text-align: center;
  background-color: #353e48;
  color: #fff;
  padding: 30px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer p {
  margin-bottom: 0;
}

/* Toggle Switch */
.toggle {
  cursor: pointer;
  display: inline-block;
}

.toggle-switch {
  display: inline-block;
  background: #ccc;
  width: 48px;
  height: 22px;
  position: relative;
  vertical-align: middle;
  transition: background 0.25s;
}

.toggle-switch:before,
.toggle-switch:after {
  content: "";
}

.toggle-switch:before {
  display: block;
  background: linear-gradient(to bottom, #fff 0%, #eee 100%);
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
  width: 14px;
  height: 14px;
  position: absolute;
  top: 4px;
  left: 4px;
  transition: left 0.25s;
}

.toggle:hover .toggle-switch:before {
  background: linear-gradient(to bottom, #fff 0%, #fff 100%);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}

.toggle-checkbox:checked + .toggle-switch {
  background: #56c080;
}

.toggle-checkbox:checked + .toggle-switch:before {
  left: 30px;
}

.toggle-checkbox {
  position: absolute;
  visibility: hidden;
}

.toggle-label {
  margin-left: 5px;
  position: relative;
  top: 2px;
}

/* Form Group */
.form-group label {
  font-size: 16px;
  font-weight: 800;
}

/* Campo inválido */
.is-invalid {
  background-color: #ff0015 !important;
  border-color: #ff0019 !important;
}

/* Linha selecionável */
.selectable-row {
    background-color: white;
  }

  .selectable-row.selected {
    background-color: #0078d7;
    color: white !important;
  }

  .selectable-row.selected td,
  .selectable-row.selected th,
  .selectable-row.selected a,
  .selectable-row.selected span {
    color: white !important;
  }

  .selectable-row td,
  .selectable-row th {
    background-color: transparent !important;
  }

/* Grupo de botões */
.btn-group {
  margin-right: 1em;
}

/* Veículo Create Container */
#veichile-create-container {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 1.5em;
  -webkit-box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 0.2em;
}

/* Status Box */
.status-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.1em 0.2em;
  border-radius: 5px;
  text-align: center;
  margin-top: 0.2em;
}

.status-box.pending {
  background-color: #ffecb3;
  color: #8d6e63;
}

.status-box.approved {
  background-color: #c8e6c9;
  color: #388e3c;
}

.status-box.denied {
  background-color: #ffcdd2;
  color: #d32f2f;
}

.status-box ion-icon {
  margin-right: 5px;
}

.status-icon {
  font-size: 2em;
  font-weight: bold;
  color: #000;
}

/* Modal */

.modal-content {
  background-color: #fff;
  color: #000;
}

/* Modo Escuro */
@media (prefers-color-scheme: dark) {
    body {
      background-color: #111827 !important;
    }

    .container-fluid {
      background-color: #1e1e1e;
    }

    .btn-primary {
      color: #1e2a38 !important;
      background-color: #e5e7eb !important;
      border: 1px solid #1e2a38 !important;
    }

    .btn-primary:hover {
      background-color: #f6f7f8 !important;
      border-color: #0d1a26 !important;
    }

    .btn-info {
      color: #fff !important;
      background-color: #7a1f36 !important;
      border: 2px solid #6b0a24 !important;
    }

    .btn-info:hover {
      background-color: #6b0a24 !important;
      border-color: #6b0a24 !important;
    }

    .msg {
      background-color: #2e3b2e;
      color: #c3e6cb;
      border: 2px solid #1c2a1c;
    }

    #event-create-container {
      background-color: #1f2937;
      box-shadow: 1px 1px 1px 2px rgba(255, 255, 255, 0.1);
      color: #fff !important;
      border: 2px solid #1e2a38 !important;
    }

    #event-create-container input,
    #event-create-container select,
    #event-create-container textarea {
    background-color: #111827;
    border: #f30202 !important;
    color: #fff !important;
    }

    #event-create-container input:focus,
    #event-create-container select:focus,
    #event-create-container textarea:focus {
      background-color: #1f2937 !important;
      border-color: #9b2846; /* Azul claro para indicar foco */
      color: #fff !important;
      outline: none !important;
      box-shadow: 0 0 0 2px #9b2846;
    }

    footer {
      background-color: #1e1e1e;
      color: #e0e0e0;
    }

    .toggle-switch {
      background: #555;
    }

    .form-group label {
      color: #e0e0e0 !important;
    }

    .selectable-row {
      background-color: #1f2937;
      color: #fff !important;
    }

    .selectable-row.selected {
      background-color: #005bb5;
      color: #fff !important;
    }

    #veichile-create-container {
      background-color: #1e1e1e;
      box-shadow: 1px 1px 1px 2px rgba(255, 255, 255, 0.1);
    }

    .status-box.pending {
      background-color: #4e342e;
      color: #ffecb3;
    }

    .status-box.approved {
      background-color: #2e7d32;
      color: #c8e6c9;
    }

    .status-box.denied {
      background-color: #b71c1c;
      color: #ffcdd2;
    }

    .status-icon {
      color: #e0e0e0;
    }
    .table > :not(caption) > * > * {
        color: #ffffff !important;
      }
      th{
        color: #ffffff !important;
        background-color: #1f2937 !important;
      }

      /* Modal */

      .modal-content {
        background-color: #1f2937 !important;
        color: #fff !important;
      }

      .modal-header {
        border-bottom: 1px solid #1e2a38;
      }

      .modal-footer {
        border-top: 1px solid #1e2a38;
      }

      .modal-footer button {
        color: #fff;
      }

      .modal-footer button:hover {
        color: #fff;
      }

      .modal-body {
        background-color: #1f2937 !important;
        color: #fff !important;
      }

      .modal-body input,
      .modal-body select,
      .modal-body textarea {
        background-color: #111827;
        border: 1px solid #2b1e38;
        color: #fff !important;
      }

      .modal-body input:focus,
      .modal-body select:focus,
      .modal-body textarea:focus {
        background-color: #1f2937 !important;
        border-color: #9b2846; /* Azul claro para indicar foco */
        color: #fff !important;
        outline: none !important;
        box-shadow: 0 0 0 2px #9b2846;
      }

      .modal-body label {
        color: #e0e0e0 !important;
      }

  }
